<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>602231976072-0h34hlf564kiqb4uutvr0jcpr9p73lt9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.602231976072-0h34hlf564kiqb4uutvr0jcpr9p73lt9</string>
	<key>API_KEY</key>
	<string>AIzaSyCCakDdH879VPSG75qsi8LKoOCfZurnAec</string>
	<key>GCM_SENDER_ID</key>
	<string>602231976072</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ozlemgokce</string>
	<key>PROJECT_ID</key>
	<string>ozlemgokce-288bc</string>
	<key>STORAGE_BUCKET</key>
	<string>ozlemgokce-288bc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:602231976072:ios:6731ee7cfdd9385064af3d</string>
</dict>
</plist>